<h2>To use</h2>

<p> To create a new shortened url, after the hostname use 'http://localhost:3000//urls/[name of url i.e. "google"]'. This will return the new url in json </p>
<p> To look at a shortened url's information in json, use 'http://localhost:3000//index/[name of short url]' </p>

<p>To enter a list of urls, use 'http://localhost:3000//urls/[name of urls i.e. "google,bing"]'separate each by a comma (no spaces). This will return the list of urls in json  </p>

<p>To use a shortened url, use the unique key after the hostname i.e. 'http://localhost:3000/[unique key]' You will be rerouted to the long url from there </p>


